* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CircularSp;
}


html,
body {
  width: 100%;
  height: 100%;
}
body::-webkit-scrollbar {
  display: none !important;
}
@font-face {
  font-family: CircularSp;
  src: url(https://res.cloudinary.com/dzotxhnz0/raw/upload/v1686690485/ALL_PHOTO_OF_SPOTIFY/CircularSp-Book-4eaffdf96f4c6f984686e93d5d9cb325_z2yaa1.ttf);
}
.textchange {
  font-family: CircularSp !important;
  color: #fff;
  margin: .7vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: CircularSp !important;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);

}

.page1 {
  width: 100%;
  height: 100%;
  display: flex;

}

.left_placeholder {
  width: 18%;
  height: 100%;
}

.left {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  flex-direction: column;
  padding-top: 1vw;
  gap: 10px;
  background-color: rgb(0, 0, 0);
}

/* add on thing */
.top_mobile {
  display: none;
}
.right .top_logo {
  display: none;
}
.comingsoon {
  display: none;
}

.logo {
  width: 65%;
  height: 7vh;
  margin-left: -3vw;
}

.logo img {
  width: 100%;
  height: 100%;

}

.list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.listdiffer {
  height: 20vh;
  margin-top: 1vw;
}

.listdiffer2 {
  height: 15vh;
  margin-top: 1vw;
}
.list .comingsoon{
  display: none ;
}
.item {
  width: 70%;
  height: 5vh;
  display: flex;
  align-items: center;
}

.item .left_a {
  display: flex;
  align-items: center;
  color: #bebebe;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  gap: 10px;
}
.item a {
  display: flex;
  align-items: center;
  color: #bebebe;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  gap: 10px;
}

.active>.left_a {
  color: #fff !important;
  
}
.active>a {
  color: #fff !important;

}
.item .left_a:hover {
  color: #fff;
}

.item .left_a i {
  font-size: 1.5vw;
}
.item a i {
  font-size: 1.5vw;
}


.item .left_a h3 {
  font-size: 1vw;
  margin-bottom: .2vw;
}
.item a h3 {
  font-size: 1vw;
  margin-bottom: .2vw;
}

.right {
  width: 82%;
  background-color: #1E1E1E;
  min-height: 100vh;
  position: relative;
}

.right_nav {
  width: 100%;
  height: 9vh;
  display: flex;
  background-color: #101010af;
}

.right_nav_comman {
  width: 50%;
  display: flex;
    align-items: center;
}

.right_rnav {
  display: flex;
  justify-content: end;
}

.right_auth {
  width: 18vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_sign a {
  color: #bebebe;
  display: inline-block;
}

.nav_sign a:hover {
  color: #fff;
  transform: scale(1.04);
}

.nav_log>a:hover {
  transform: scale(1.04);
}

.nav_log>a {
  padding: .8vw 1.6vw;
  display: inline-block;
  background-color: #fff;
  border-radius: 40px;
  color: #000;
  font-weight: bold;
}
#myAcc{
  font-weight: 500;
}
.right_auth a {
  font-weight: bold;
}

.right_layer1,
.right_layer2 {
  width: 100%;
  /* height: 55vh; */
  padding: 1.4vw 2vw;
}

.layer1_line {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.5vw;
  justify-content: space-between;
}

.layer1_line h2 {
  font-size: 1.5vw;
  font-weight: bold;
}

.layer1_songs {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 50px;
  /* justify-content: space-evenly; */
  align-items: flex-start;
  display: flex;

}
.clutter_in{
  gap: 50px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: initial;
}

.song_card {
  width: 12.5vw;
  overflow: hidden;
  height: auto;
  flex-shrink: 0;
  border-radius: 7px;
  position: relative;
  padding: 1vw ;
  transition: .4s;
  background-color: #181818;
}

.song_card:hover {
  background-color: #303030;
}

.song_card_temp {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
}
#pointerevents {
  pointer-events: all !important;
}
.song_img {
  width: 100%;
  height: 22.5vh;
  pointer-events: none;
}

.song_img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  height: 100%;
}

.song_body {
  padding-top: 1vw;
  pointer-events: none;
}

.song_body h6 {
  font-weight: bolder;
  color: #fff;
  margin-bottom: .5vw;
}

.song_body p {
  font-size: .9vw;
  color: #bebebe;
  font-weight: 600;
}
.playbtn{
  position: absolute;
  width:50px;
  height: 50px;
  /* z-index: 9999; */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 43%;
  transition: .3s;
  opacity:0;
  right: 4%;
  border-radius: 50%;
  background-color: #1ED760;
}
.playbtn i{
  font-size: 1.5vw;
  color: #000000;
}
.song_card:hover .playbtn{
  opacity: 1;
  top: 38%;
}


.text_one p{
  text-transform: capitalize !important;
}



/* changes */
/* .top_mobile {
  display: none;
}

.right .top_logo {
  display: none;
}

.list .comingsoon {
  display: none;
} */
/* html 


id="logoresp" in logo



<div class="item comingsoon"><a href=""><i class="ri-google-play-line"></i><h3>Get App</h3></a></div>
*/

/* chnage */





/* sidebar  */


.sideSetBar{
  display: none;
}









/* footer wala part  */


.footer {
  width: 82%;
  /* box-shadow: 0px 10px 10px #4a4a4a; */
  /* border-top: 3px solid #a5a5a5; */
  height: 40vh;
  background-color: #232323;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

}

.foot_image {
  width: 80%;
  height: 100%;
  opacity: .2;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  background-image: url(https://res.cloudinary.com/dzotxhnz0/image/upload/v1686773869/ALL_PHOTO_OF_SPOTIFY/ek_mbim2o.png);
  background-size: cover;
  background-position: center;

}

.foot_cont {
  display: flex;
  width: 100%;
  z-index: 999;
  position: relative;
  height: 70%;
}

.foot_section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
}

.foot_one {
  width: 17vw;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

.foot_one>h2 {
  font-weight: bold;
  color: #fff;
  font-size: 1.2vw;
}

.foot_one>h3 {
  font-weight: lighter;
  color: #a9a9a9;
  transition: .4s;
  font-size: 1.2vw;
}

.footcomman h3:hover {
  color: #ffff;
  cursor: pointer;
}


.foot_social {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.foot_insta {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 100%;
  transition: .4s;
  background-color: rgb(66, 66, 66);
}

.foot_social a {
  color: #fff;
  text-decoration: none;
}

.foot_insta>i {
  color: #fff;

  font-size: 2vw;
}

.foot_insta:hover {
  background-color: #000000;
}

.foot_last {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #6d6d6d;
}

.foot_last>h3 {
  margin-top: .8vw;
  color: #a9a9a9;
  font-size: 1.1vw;
  font-weight: lighter;
}